.page {
  width: 100%;
  height: 100vh;
  background-color: white;
  position: relative;
}
.navbar {
  width: 100%;
  padding: 1rem 2rem;
  box-sizing: border-box;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.leftBox {
  flex: 1;
  display: flex;
  justify-content: start;
  gap: 1rem;
  align-items: center;
}
.navOptions {
  font-size: 14px;
  font-family: Arial, sans-serif;
  color: #1f1f1f;
  cursor: pointer;
  font-weight: 500;
}
.rightBox {
  flex: 1;
  display: flex;
  justify-content: end;
  gap: 1.5rem;
  align-items: center;
  /* border: 1px solid green; */
}
.menuIcon {
  height: 15px;
  width: 15px;
  cursor: pointer;
}
.profile {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #c2185b;
  font-size: 18px;
  cursor: pointer;
  color: white;
}
